<html>
  <head>
    <title>Edit Snippets Dialog</title>
    <link rel="stylesheet" href="dialog.css" />
  </head>
  <body>
    <div class="dialogFrame">
      <div class="dialogHeader">
        <div class="dialogTitle">Edit Snippet</div>
        <div class="dialogClose">X</div>
      </div>
      <div class="dialogBody">
        <label for="snippetName">Snippet Name</label>
        <br />
        <input type="text" value="private1" id="snippetName" />
        <br />
        <br />
        <label for="snippetContent">Content</label>
        <br />
        <textarea id="snippetContent" rows="5">
          <block></block>
          <block></block><block></block>
          <block></block>
          <block></block>
        </textarea>
      </div>
      <div class="dialogFooter">
        <input type="button" class="dialogButton" value="OK" />
        <input type="button" class="dialogButton" value="CANCEL" />
      </div>
    </div>
  </body>
</html>
