<html>
  <head>
    <title>Manage Snippets Dialog</title>
    <link rel="stylesheet" href="dialog.css" />
  </head>
  <body>
    <div class="dialogFrame">
      <div class="dialogHeader">
        <div class="dialogTitle">Manage Snippets</div>
        <div class="dialogClose">X</div>
      </div>
      <div class="dialogBody">
        <ul>
          <li style="list-style: none;">Favourites</li>
          <ul id="favList">
            <li>Fav1&nbsp;&nbsp;&nbsp;<a>[remove]</a></li>
            <li>Fav2&nbsp;&nbsp;&nbsp;<a>[remove]</a></li>
          </ul>
          <br />
          <li style="list-style: none;">Private</li>
          <ul id="privList">
            <li>
              Private1&nbsp;&nbsp;&nbsp;
              <a>[edit]</a>
              <a>[favor]</a>
              <a>[delete]</a>
            </li>
            <li>
              Private2&nbsp;&nbsp;&nbsp;
              <a>[edit]</a>
              <a>[favor]</a>
              <a>[delete]</a>
            </li>
          </ul>
          <br />
          <br />
          <li style="list-style: none;"><b>Pre-Defined</b></li>
          <br />
          <li style="list-style: none;">Vector</li>
          <ul>
            <li>Snippet1&nbsp;&nbsp;&nbsp;<a>[favor]</a></li>
            <li>Snippet2&nbsp;&nbsp;&nbsp;<a>[favor]</a></li>
          </ul>
          <li style="list-style: none;">Message</li>
          <ul>
            <li>Snippet3&nbsp;&nbsp;&nbsp;<a>[favor]</a></li>
            <li>Snippet4&nbsp;&nbsp;&nbsp;<a>[favor]</a></li>
          </ul>
        </ul>
      </div>
      <div class="dialogFooter">
        <input type="button" class="dialogButton" value="OK" />
        <input type="button" class="dialogButton" value="CANCEL" />
      </div>
    </div>
  </body>
</html>
