<html>
  <head>
    <title>Manage Snippets Dialog</title>
    <link rel="stylesheet" href="/view/dialog.css" />
  </head>
  <body>
    <div class="dialogBackdrop" id="dialogBackdrop">
      <div class="dialogFrame" id="dialogFrame">
        <div class="dialogHeader" id="dialogHeader">
          <div class="dialogTitle" id="dialogTitle">Manage Snippets</div>
          <div class="dialogClose" id="dialogClose">X</div>
        </div>
        <div class="dialogBody" id="dialogBody">
          <div id="snippetSettingsContainer" class="snippetSettingsContainer">
          </div>
          <ul>
            <li class="listLabel listLabelExpanded" id="favouritesLabel">
              Favourites
            </li>
            <ul id="favList"></ul>
            <br />
            <li class="listLabel listLabelExpanded" id="privateLabel">
              Private
            </li>
            <ul id="privList"></ul>
            <br />
            <li class="listLabel"><b>Pre-Defined</b></li>
          </ul>
          <ul id="snippetList"></ul>
        </div>
        <div class="dialogFooter" id="dialogFooter">
          <input
            type="button"
            class="dialogButton"
            value="OK"
            id="dialogButtonOk"
          />
          <input
            type="button"
            class="dialogButton"
            value="CANCEL"
            id="dialogButtonCancel"
          />
        </div>
      </div>
      <div id="snippetIconsContainer" style="display: none;">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="100%"
          viewBox="0 0 24 24"
          width="100%"
          class="snippetIcon"
          id="snippetEditIcon"
        >
          <path
            d="M14.06 9.02l.92.92L5.92 19H5v-.92l9.06-9.06M17.66 3c-.25 0-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29zm-3.6 3.19L3 17.25V21h3.75L17.81 9.94l-3.75-3.75z"
          ></path>
        </svg>
  
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="100%"
          height="100%"
          viewBox="0 0 32 32"
          class="snippetIcon"
          id="snippetRemoveIcon"
        >
          <circle
            cx="16"
            cy="16"
            r="14"
            stroke-width="4"
            stroke-opacity="1"
            stroke-linecap="round"
            fill="none"
          />
          <line
            x1="8"
            y1="16"
            x2="24"
            y2="16"
            stroke-width="4"
            stroke-opacity="1"
            stroke-linecap="butt"
            fill="none"
          />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="100%"
          height="100%"
          viewBox="0 0 32 32"
          class="snippetIcon"
          id="snippetAddIcon"
        >
          <circle
            cx="16"
            cy="16"
            r="14"
            stroke-width="4"
            stroke-opacity="1"
            stroke-linecap="round"
            fill="none"
          />
          <line
            x1="8"
            y1="16"
            x2="24"
            y2="16"
            stroke-width="4"
            stroke-opacity="1"
            stroke-linecap="butt"
            fill="none"
          />
          <line
            x1="16"
            y1="8"
            x2="16"
            y2="24"
            stroke-width="4"
            stroke-opacity="1"
            stroke-linecap="butt"
            fill="none"
          />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="100%"
          height="100%"
          viewBox="0 0 32 32"
          class="snippetIcon"
          id="snippetInsertIcon"
        >
          <rect
            x="2"
            y="6"
            width="24"
            height="24"
            stroke-width="2"
            stroke-opacity="1"
            stroke-linecap="butt"
            fill="none"
          />
          <rect x="22" y="0" width="10" height="10" />
          <line
            x1="22"
            y1="10"
            x2="12"
            y2="20"
            stroke-width="2"
            stroke-linecap="round"
          />
          <line
            x1="12"
            y1="12"
            x2="12"
            y2="20"
            stroke-width="2"
            stroke-linecap="round"
          />
          <line
            x1="12"
            y1="20"
            x2="20"
            y2="20"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="100%"
          height="100%"
          viewBox="0 0 32 32"
          class="snippetIcon"
          id="snippetInfoIcon"
        >
          <circle
            cx="16"
            cy="16"
            r="14"
            stroke-width="4"
            stroke-opacity="1"
            stroke-linecap="round"
            fill="none"
          />
          <line
            x1="16"
            y1="10"
            x2="16"
            y2="11"
            stroke-width="3"
            stroke-opacity="1"
            stroke-linecap="round"
            fill="none"
          />
          <line
            x1="16"
            y1="16"
            x2="16"
            y2="24"
            stroke-width="3"
            stroke-opacity="1"
            stroke-linecap="round"
            fill="none"
          />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="100%"
          height="100%"
          viewBox="0 0 32 32"
          class="snippetIcon"
          id="snippetFavouriteIcon"
        >
          <polygon
            points="16 0 10 12 0 12 8 20 2 32 16 24 30 32 24 20 32 12 22 12"
          />
        </svg>
        <svg
      xmlns="http://www.w3.org/2000/svg"
      width="100%"
      height="100%"
      viewBox="0 0 32 32"
      class="snippetIcon"
      id="snippetImportIcon"
    >
    <path d="M 0 26 V 0 H 32 V 26 M 16 32 V 12 M 8 20 L 16 12 L 24 20" fill="transparent" stroke-width="4" stroke-linecap="round">
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="100%"
      height="100%"
      viewBox="0 0 32 32"
      class="snippetIcon"
      id="snippetExportIcon"
    >
    <path d="M 0 26 V 0 H 32 V 26 M 16 32 V 12 M 8 24 L 16 32 L 24 24" fill="transparent" stroke-width="4" stroke-linecap="round">
    </svg>
      </div>
    </div>
  </body>
</html>
